<!DOCTYPE html>
<html>
        <head>
                  <title>{{ paige.title }}</title>
                  <!-- link to main stylesheet -->
                  <link rel="styleshet" type="text/css" href="/css/main.css">
        </head>
        <body>
              
                <div class="container">
                
                {{ content }}
                  
                </div><!-- /.container -->
                <footer>
                <ul>
                        <liv><a href="mailto:sarah.erikssonn@gmail.com">email</a></li>
                        <liv><a href="https://github.com/sarahhhee98">github.com/sarahhhee98</a></li>
                        </ul>
                 </footer>
           </body>
</html>
